h1 {
  color: white;
  text-shadow: 2px 2px #a3a3c2;
}

.logo {
  max-width: 100%;
  height: auto;
  width: auto\9;
  margin-bottom: none;
  padding: none;
  line-height: none;
  border: none;
}

.panel-heading {
  margin-bottom: none;
  padding: none;
  line-height: none;
  border: none;
  outline: none;
}

p {
  font-weight: 900;
  color: white;
}

.panel-default {

  background-image: url(images/map.jpg);
  outline: none;
  border: none;
  border-radius: 25px;
}

body {
  background-image: url(images/map.jpg);
}

.treasure-heading {
  background-color: #ffd24d;
  color: #ffffff;
  margin-bottom: none;
  padding: none;
  line-height: none;
  border: none;
  outline: none;
}

.navbar-right{
  margin-right: 100px;
}

.form-style {
  background-image: url(images/map.jpg);
  padding: 20px;
  border-radius: 25px;
  /*color: #ffffff;*/
}

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    /*color: white;*/
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 50px;
    font-weight: 900;
    color: #000000;
}

.navbar {
  margin-bottom: none;
  padding: none;
  line-height: none;
  border: none;
  outline: none;
}
