{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html
<html lang="en">
<link href="{% static 'bootstrap.min.css' %}" rel='sytlesheet'>
<link rel="stylesheet" type="text/css"href="{% static 'style.css' %}">
<head>
  <title>TreasureGram</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top text-center">
    <img src="{% static 'images/logo.png' %}" alt="TreasureGram" class="logo">
    {% if user.is_authenticated %}
      <a class="navbar-text navbar-right" href="{% url 'profile' user.username %}">{{ user.username }}</a>
      <a class="navbar-text navbar-right" href="{% url 'logout' %}">logout</a>
    {% else %}
      <a class="navbar-text navbar-right"href="{% url 'login' %}">login</a>
    {% endif %}
  </nav>
  <main class="container container--mw700">
  </main>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
